@use '../../styles/settings/container' as container;
@use '../../styles/settings/media' as mediaQuery;

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 30px;

  @include container.container;

  @include mediaQuery.responsive(tablet) {
    gap: 50px;
  }

  @include mediaQuery.responsive(desktop) {
    padding: 50px;
  }
}
