.spinner {
  border-top: 5px solid var(--light-mode-text);
  border-right: 2px solid transparent;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
