@use '../../styles/settings/media' as mediaQuery;

.form {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include mediaQuery.responsive(large-tablet) {
    align-items: center;
    gap: 25px;
  }

  @include mediaQuery.responsive(small-laptop) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }

  .searchbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px 25px;
    font-size: 1.75rem;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    @include mediaQuery.responsive(large-tablet) {
      width: 60%;
      font-size: 2rem;
    }
    @include mediaQuery.responsive(small-laptop) {
      width: 45%;
    }

    input {
      border: none;
      font-family: inherit;
      width: 100%;
      font-size: 1.4rem;
      outline: none;

      @include mediaQuery.responsive(small-tablet) {
        font-size: 1.6rem;
      }
    }
  }

  .dropdown-container {
    select {
      border: none;
      padding: 15px;
      box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.1);
      font-family: inherit;
      border-radius: 5px;
    }
  }
}
