:root {
  --colour-dark-blue: rgb(43, 57, 69);
  --colour-very-dark-blue: rgb(32, 44, 55);
  --colour-very-dark-blue-2: rgb(17, 21, 23);
  --colour-dark-grey: rgb(133, 133, 133);
  --colour-very-light-grey: rgb(250, 250, 250);
  --colour-white: rgb(255, 255, 255);
}

//GUIDELINE

// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
