:root {
  --dark-mode-elem: hsl(209, 23%, 22%); // dark mode elem
  --dark-mode-bg: hsl(207, 26%, 17%); // dark mode bg

  --light-mode-text: hsl(200, 15%, 8%); // light mode text
  --light-mode-input: hsl(0, 0%, 52%); //light mode input
  --light-mode-bg: hsl(0, 0%, 100%); //light mode bg

  --colour-white: hsl(0, 0%, 100%); //dark mode text / light mode element
  --light-mode-elem: hsl(0, 0%, 100%);
}
