*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-nunito);
}

//triger
.dark-theme {
  --light-mode-text: var(--colour-white);
  --light-mode-bg: var(--dark-mode-bg);

  transition: all 0.4s;
}

.light-theme {
  color: var(--light-mode-text);
  background-color: var(--light-mode-bg);
  transition: all 0.4s;
}
